@import "tailwindcss";

.dark {
    background-color: #1e1e1e;
}

html {
    scroll-behavior: smooth;
}

.offwhite {
    color: rgb(122, 121, 121);
}

.dark {
    background: #0a0a0a;
}
.tint {
    background: #292929;
}
.meddark {
    background: #0e0e0e;
}
html {
    scroll-behavior: smooth;
}